.Episode {
  display: flex;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 32px;
}

.ImageContainer {
  padding-right: 16px;
}

.MissingImage {
  text-align: center;
  font-size: xx-large;
  color: white;
  height: 140px;
  width: 250px;
  position: relative;
}

.MissingImage p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
